<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/css.css" />
    <title>Home Page</title>
  </head>
  <body>
    <div class="header-for-home">
      <h1>Home Page</h1>
    </div>
    <div class="container">
      <hr />
      <div class="Content">
        <button class="registered" onclik="window.location.href='/patient'">
          Registered
        </button>
        <button class="new-patient">New Patient</button>
        <button class="info">Informations</button>
        <button class="exit">Exit</button>
      </div>
    </div>
    <script src="../static/home.js"></script>
  </body>
</html>
