<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/css.css" />
    <title>index</title>
  </head>
  <body>
    <div class="header">
      <h1>Hospital Name</h1>
    </div>
    <form method="POST">
      <label for="name">User-Name</label>
      <input id="name" type="text" name="user" />
      <label for="pass">password</label>
      <input id="pass" type="password" name="password" />
      <button>login</button>
    </form>
  </body>
</html>
