<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/css.css" />
    <title>information</title>
  </head>
  <body>
    <div class="header">
      <h1>iINFORMATION</h1>
    </div>
    <div>
      <h3>
        # Hospital Management System Project
        <br />
        ## Overview
        <br />
        This project is a Hospital Management System developed by Amro
        Abdulrahim using HTML, CSS, JavaScript, Python, and SQLite.
        <br />
        The system aims to facilitate the management of patients and medical
        procedures within the hospital.
        <br />
        -Objectives Admin Login: The system allows the admin to log in to access
        various system functions. -Patient Management: The system provides
        multiple options for patients, such as registering a new patient or
        accessing an existing patient's file. -Performing Medical Procedures:
        The system enables patients to undergo medical procedures like visiting
        different departments and conducting examinations. -Database
        Integration: All data is connected to an SQLite3 database to ensure
        organized and secure storage.
        <br />
        ## Tools and Technologies Used
        <br />
        -HTML: To create the structure of the web pages. -CSS: To design and
        style the web pages. -JavaScript: To add interactivity to the pages.
        -Python: To write the backend logic of the application and data
        processing. -SQLite: To manage and store patient data.
        <br />
        Future Plans Adding More Departments: Additional medical departments and
        procedures will be integrated into the system. -System Improvements:
        Enhancing system functionalities and adding new features based on
        feedback and practical experiences. -Updates on GitHub: Future updates
        of the system will be uploaded to GitHub to ensure accessibility and
        sharing with others.
        <br />
        ## Conclusion
        <br />
        This project is an initial step towards creating a comprehensive and
        integrated Hospital Management System, aimed at improving the quality of
        healthcare and effectively managing medical operations. With plans for
        system development and the addition of new features, the system remains
        scalable and continuously improvable.
      </h3>
    </div>
  </body>
</html>
