<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/css.css" />
    <title>Interview</title>
  </head>
  <body>
    <div class="header">
      <h1>Interview</h1>
    </div>
    <form method="POST">
      <select name="sectios">
        <option value="Department of medicin">Department of medicin</option>
        <option value="Department of General Surgary">
          Department of General Surgary
        </option>
        <option value="Department of Ophthalma">Department of Ophthalma</option>
        <option value="Department of ENT">Department of ENT</option>
        <option value="Department of Dormatology">
          Department of Dormatology
        </option>
        <option value="Department of Pedia tres">
          Department of Pedia tres
        </option>
        <option value="Department of Obs and Gynae">
          Department of Obs and Gynae
        </option>
        <option value="Department of Radiology">Department of Radiology</option>
        <option value="Lab">Lab</option>
      </select>
      <button>Continue</button>
    </form>
  </body>
</html>
