<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/css.css" />
    <title>The Patient</title>
  </head>
  <body>
    <div class="header">
      <h1>Patient</h1>
    </div>
    <form method="POST">
      <label for="name">Patient-Name</label>
      <input id="name" type="text" name="user" />
      <label for="pass">ID</label>
      <input id="pass" type="text" name="id" />
      <button>Enter</button>
    </form>
  </body>
</html>
