<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/css.css" />
    <title>Patient Page</title>
  </head>
  <body>
    <div class="container">
      <div>
        <div class="header-for-home">
          <h1>Patient Informations</h1>
        </div>
        <div class="info-patient">
          <h3>{{ Name }}</h3>
          <ul>
            <li>ID: {{ id }}</li>
            <li>Age: {{ age }}</li>
            <li>Address: {{ add }}</li>
            <li>Phone Number: {{ Phone }}</li>
          </ul>
        </div>
      </div>
      <div class="data">
        <button class="a">Interview</button>
        <button class="a">Satisfaction history</button>
        <button class="a">examinationt finding</button>
        <button class="a">Investigation</button>
        <button class="a">Appointments</button>
        <button class="a">Exit</button>
      </div>
    </div>
    <script src="../static/in.js"></script>
  </body>
</html>
