<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/css.css" />
    <title>Register</title>
  </head>
  <body>
    <div class="header">
      <h1>Creating New Patient File</h1>
    </div>
    <form method="POST">
      <label for="name">Full-Name</label>
      <input id="anme" type="text" name="username" />
      <label for="id">ID</label>
      <input id="id" type="text" name="id" />
      <label for="age">Age</label>
      <input id="age" type="text" name="age" />
      <label for="add">Address</label>
      <input id="add" type="text" name="address" />
      <label for="add">Phone Number</label>
      <input id="add" type="text" name="phoneNumber" />
      <button>Add</button>
    </form>
  </body>
</html>
